<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="JAWA.JAWA">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
	<application android:label="JAWA" android:theme="@style/AppTheme" android:icon="@drawable/ic_launcher" />
</manifest>